<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path=".next/standalone/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(_next/static|images|favicon\.ico)(.*)$" />
          <action type="Rewrite" url=".next/static{R:2}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url=".next/standalone/server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="node.exe"
      debuggingEnabled="false"
      loggingEnabled="false"
      maxConcurrentRequestsPerProcess="1024"
    />
  </system.webServer>
</configuration>