<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NextStaticFiles" stopProcessing="true">
          <match url="/_next/static/(.+)" />
          <action type="Rewrite" url=".next/static/$1" />
        </rule>
        <rule name="NextRequest" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode 
      nodeProcessCommandLine="node.exe"
      debuggingEnabled="true"
      loggingEnabled="true"
      devErrorsEnabled="true"
      logDirectory="iisnode"
      watchedFiles="web.config;*.js"
    />
  </system.webServer>
</configuration>