<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Asegúrate de que cada regla tenga un nombre único -->
        <rule name="APIProxyRule" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="http://localhost:3001/{R:0}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Permitir que PM2 maneje las respuestas de la API -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>

