<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirigir solicitudes hacia /api al puerto donde corre PM2 -->
        <rule name="API Proxy" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:3001/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Permitir que PM2 maneje los errores -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
